.img-prfile {
    width: 120px;
}

.desc-profile {
    text-align: center;
}

.image-post {
    width: 100%;
    height: 500px;
}

.text-post {
    color: #000;
    float: right;
}

.text-post:hover {
    color: rgba(40, 230, 255, 0.774);
    float: right;
    transition: all 0.2s ease-in-out;
}

.avatar-post {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.username-post {
    color: black;
    display: block;
    margin-top: 2px;
    min-width: 100px;
    text-align: right;
}

/* Start Post Style */
.post-body {
    margin-top: -10px;
}

.card {
    margin-top: 15px;
}

.modal {
    width: 1200px;
    height: 650px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.modal .close {
    display: block;
    margin-top: 15px;
}

.modal .big-img {
    margin-top: 30px;
    margin-right: -30px;
    height: 100%;
    align-items: center;
}

.fa-ellipsis-h {
    margin-top: -50px;
    margin-left: -20px;
}

.archive-image {
    margin-top: -30px;
    margin-right: -12px;
}

.post-name {
    text-align: right;
    margin-top: 12px;
    font-size: 25px;
    margin-right: 40px;
    width: 500px;
}

.follow .btn {
    padding: 0px 15px;

}

.follow .btn .text {
    text-align: center;
    margin: 5px;
}

.post-content {
    text-align: right;
    margin-top: 12px;
    font-size: 18px;
}

.post-comment {
    width: 100%;
    text-align: right;
    margin-top: 12px;
    font-size: 18px;
    margin-right: 30px;
}

.comment-content {
    text-align: center;
    margin-top: -45px;
    margin-right: -50px;
}

.comment-content .username {
    margin-right: 5px;
    margin-top: -10px;
    font-size: 15px;
}

.comment-content .comment {
    width: 300px;
    margin-left: 123px;
    font-size: 14px;
    color: #4F4F4F;
    margin-top: 5px;
    margin-bottom: 25px;
}

.comment-area {
    margin-right: 45px;
}

.comment-submit {
    float: right;
    margin-top: 10px;
    margin-right: 45px;
}

.comment-settings {
    float: left;
    margin-left: -90px;
}

.comment-btn:focus, .comment-btn:hover {
    outline: none;
    border-color: white;
}

.fa-ellipsis-v {
    color: #000;
}

.comment-dropdown a {
    text-align: right;
}

.edit-profile {
    background-color: white !important;
    width: 70px;
    text-align: center !important;
    border-radius: 10px !important;
    color: #929292 !important;
    font-size: 16px !important;
    border: 1px solid #929292 !important;
}

.edit-profile:hover {
    color: #FFF !important;
    background-color: #929292 !important;
}

.custom-select {
    width: 75% !important;
    margin-left: 140px;
    margin-top: 15px;
}

/* Edit Profile */
* {
    font-family: 'PT Sans';
}

.image_edit_page {
    text-align: left;
    margin-right: 20px;
    margin-top: 20px;
    width: 25%;
}

.image_edit_profile {
    width: 100%;
    height: 100%;
    margin-top: 3%;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.nameprofile-edit-page {
    margin: 20px 20px;
}

.nameprofile-edit-name {
    font-weight: bold;
    font-size: 22px;
    text-align: right;
}

.nameprofile-edit {
    font-size: 20px;
    text-align: right;
    margin-top: -30px;
}

.nameprofile-desc {
    font-size: 18px;
    text-align: right;
    margin-top: -30px;
    color: #4F4F4F;
}

.secound-image-edit {
    width: 80px;
    height: 80px;
}

.edit-imagee {
    width: 70px;
    height: 70px;
}

.btn-download {
    background-color: #37BF80;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    height: 35px;
}

.main-content {
    margin-top: 80px;
}

.edit-navigation {
    position: absolute;
    top: 30%;
    right: 50%;
    z-index: 3;
    text-align: center;
    font-size: 20px;
    width: 140px;
    margin-right: -100;
}

.edit-navigation .nav-item {
    list-style: none;
    margin-bottom: 1px;
    width: 200px;
}

#myTab {
    border: none;
}

.edit-navigation .nav-item .nav-link {
    color: #929292 !important;
    text-decoration: none !important;
    border: none;
    margin-top: 10px;
}

.edit-submit {
    background-color: #37BF80 !important;
    border-radius: 10px !important;
    color: white !important;
    font-size: 16px !important;
    height: 35px;
    width: 90px !important;
    float: right;
}

.edit-submit:hover {
    background-color: #37bf80e8 !important;
}



.delete-photo {
    background-color: #E8E8E8;
    border-radius: 10px;
    color: #4F4F4F;
    font-size: 16px;
    height: 35px;
    border: 1px solid #929292;
    font-weight: 100;
    margin-bottom: 23px;
    margin-right: -2px !important;
}

.edit-form-page {
    direction: rtl;
    padding-top: 100px;
}

.edit-form-page .row {
    margin-top: 60px;
}

.edit-form-page .row .col-3 {
    margin-top: 5px;
}

.edit-form-page ul li {
    list-style: none;
    text-align: center;
    font-size: 20px;
    padding: 8;
}

.edit-form-page ul li a {
    text-decoration: none;
    color: gray;
}

.edit-form-page .form-label {
    text-align: right;
}

* {

    font-family: 'Almarai', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400&family=PT+Sans&display=swap');

#edit-page-profile {
    width: 70%;
    display: block;
    margin-top: 80px;
    margin-right: 25%;

}

.image_edit_page {
    text-align: left;
    margin-right: 20px;
    margin-top: 20px;
    width: 25%;
}

.image_edit_profile {
    width: 100%;
    height: 100%;
    margin-top: 3%;
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.nameprofile-edit-page {
    margin: 20px 20px;
}

.nameprofile-edit-name {
    font-weight: bold;
    font-size: 25px;
    text-align: right;
}

.nameprofile-edit {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    margin-right: -20px;
    text-align: right;
}

.nameprofile-desc {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #4F4F4F;
    margin-top: 5px;
}

.secound-image-edit {
    width: 80px;
    height: 80px;
}

.edit-imagee {
    width: 70px;
    height: 70px;
}

.btn-download {
    background-color: #37BF80;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    height: 35px;
}

#my_file {
    display: none;
}

#get_file {
    background: #37BF80;
    border-radius: 5px;
    margin: 1px 16px 0px 0px;
    cursor: pointer;
}

.footer-icon {
    color: #333;
    font-weight: 100;
}

.footer-icon:hover {
    color: #333;
    text-decoration: none;
}

.forget-header {
    text-align: center !important;
    font-size: 22px;
    font-weight: bold;
}

.form-text {
    text-align: right;
    font-size: 20px !important;
    line-height: 25px !important;
}

.notification {
    margin-right: 45px !important;
    margin-top: 5px;
}

.not-count {
    top: 30px !important;
}